app/etc/*
/bin/*
/dev/*
/generated/*
/lib/*
/phpserver/*
/pub/*
/setup/*
/var/*
/vendor/*
/.__AllCommands.bash
/app/cronLaunch.php
/app/bootstrap.php
/app/autoload.php
/.htaccess
/.editorconfig
/.php-cs-fixer.dist
/.user
/auth.json
/composer.json
/composer.lock
/grunt-config.json
/nginx.conf
/package.json