.block-collapsible-nav-content {
    margin-right: 80px;
    line-height: 42px;
    border-right: solid 1px;
    margin-bottom: -50px;
    margin-left: -40px;
}

.Hakfist_myaccount_customerapi {
    display: none;
}

.block-collapsible-nav {
    margin-bottom: 1px;
}
.sidebar-additional{
    display: none;
}